@font-face {
	font-family: "ShantellSans";
	src: url("/fonts/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "ShantellSans", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
}
